body {
    margin: 0;
    background-color: #1f0665;
}

header {
    display: flex;
    padding: 1.5rem 5.5rem;
    justify-content: space-between;
    height: 2.5rem;
    background-color: #b1ffb1;
    align-items: center;
    
}

.logo {
    height: 1.5rem;
    line-height: 2.2rem;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #FF7043;
    cursor: pointer;
}


/* *************************************************************** */
/* ham menu */

.menu-btn {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    display: none;
}

.menu-btn span {
    width: 100%;
    height: 3px;
    background-color: #fff;
}

header ul {
    display: flex;
    list-style-type: none;
    line-height: 0.5rem;
}

header ul li {
    margin-left: 2.5rem;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

header ul li:hover {
    color: #ff7043;
    cursor: pointer;
}

/* *************************************************************** */
/* drawer */

#side-drawer {
    width: 100%;
    height: 100%;
    background-color: #1f0665;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#side-drawer:target {
    display: block;
}

#side-drawer header {
    display: flex;
    align-items: center;
    padding: 1.5rem 5.5rem;
    justify-content: flex-end;
    height: 2.5rem;
    background-color: #b1ffb1;
    
}


#side-drawer nav ul {
    font-size: 2.5rem;
    text-decoration: none;
    list-style-type: none;
    margin: 0 auto;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

#side-drawer ul li {
    margin-top: 3rem;
}

#side-drawer ul li a {
    text-decoration: none;
    color: white;
}

#side-drawer ul li a:hover {
    color: #FF7043;
}

main {
    text-align: center;
}

main h1 {
    font-size: 3em;
    color: #ff7043;
    font-weight: 900;
    margin: 3rem 0 0 0;
}

main h3 {
    color:lightcyan;
    font-weight: normal;
    font-size: 1.5em;
    margin: 1rem 0 0 0;
}


/* *************************************************************** */

.foods {
    width: 70%;
    margin: 2rem auto;
}

.foodBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    gap: 1rem;
    list-style: none;
}

.foodBox .foodItem {
    width: 90%;
    margin: 0 auto;
    object-fit: cover;
}

.foodBox .foodItem img {
    width: 100%;
    height: 15rem;
    border-radius: 1.5rem;
    object-fit: cover;
}

.foodBox .foodItem h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: white;
    font-weight: 500;
}

.foodItem .foodItemComp {
    padding: 16px;
    text-align: center;
}

.foodItemComp a{
    padding: 8px 24px;
    background-color: #ff7043;
    color: white;
    text-decoration: none;
}


@media (max-width: 768px) {
    .foodBox {
        grid-template-columns: 1fr;
        gap: 6rem;
    }

    main h1 {
        font-size: 2.3rem;
    }

    main h3 {
        font-size: 1.5rem;
    }

    header nav {
        display: none;
    }

    .menu-btn {
        display: flex;
    }

}