body {
    background: linear-gradient(180deg, rgb(244, 244, 244), rgb(235, 235, 235));
}

header {
    /* shared.css 속성 덮어쓰기 (*shared.css 파일을 html에서 먼저 추가해주어야함)) */
    position: static;
}

main ul {
    width: 1200px;
    margin: 0 auto;
}

main li {
    display: flex;
    background-color: white;
    box-shadow: 0px 4px 16px 2px rgba(219, 219, 219, 0.561);
    
    /* 이미지는 넘침 */
    border-radius: 16px;
    overflow: hidden;
    /* 컨테이너 자식에게 적용X, 컨테이너 자체에 적용O */

    width: 500px;
}

main li img {
    width: 300px;
    height: 280px;
    object-fit: cover;
}

.city-content {
    padding: 24px;
    color:rgb(50, 50, 50);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.city-content h2{
    font-size: 32px;
    margin: 0;
    margin-top: 16px;
}

.city-content p {
    font-size: 18px;
}

.actions {
    text-align: right;
    margin-bottom: 16px;
}

.actions a {
    text-decoration: none;
    color: rgb(67, 145, 193);
    text-align: center;
    padding: 8px 24px;
    font-size: 18px;
}

.actions a:hover {
    background-color: rgb(198, 233, 255);

}