body {
    background-color: rgb(88, 88, 88);
    margin: 8rem;
}

input {
    width: 10rem;
    height: 2rem;
}

button {
    width: 10.5rem;
    height: 1.9rem;
    display: block;
    margin-top: 0.5rem;

}