body {
    text-align: center;
    background-color: #fff5da;
    color:rgb(72, 72, 72);
}

a {
    text-decoration: none;
    color: rgb(216, 49, 110);
}

a:hover {
    text-decoration: underline;
}

